body {
  background: #f7f7f7;
  color: #333;
  font-family: 'Helvectica', sans-serif;
  transition: 2s ease;
}

h1, h2, h3, h4, h5, figcaption {
  font-family: 'Helvectica', sans-serif;
}

hr {
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  margin: 1em 0;
  padding: 0;
}

.header {
  width: calc(90vw / 2 + 600px / 2);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: calc(90vw / 2 + 600px / 2);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Palatino', serif;
}

p {
  font-family: 'Palatino', serif;
}

.content p {
  line-height: 1.85em;
  text-indent: 2em;
  text-align: justify;
}

.content li p {
  line-height: 1.85em;
  text-indent: 0em;
}

ol > li::marker {
  font-weight: bold;
  line-height: 1.85em;
}

ul > li::marker {
  font-weight: bold;
  line-height: 1.85em;
}

li {
  line-height: 1.85em;
  font-family: 'Palatino', serif;
}

li:last-child {
  margin-bottom: 1.0em;
}

.content > h1 {
  color: #333;
  transition: 2s ease;
}

.content > h2,
.content > h3,
.content > h4 {
  color: #777;
  transition: 2s ease;
}

.content > h5 {
  color: #aaa;
  transition: 2s ease;
}

.content > h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 2em;
  letter-spacing: -0.02em;
  font-weight: 900;
  color: #333;
}

.content > h2 {
  margin-top: 60px;
}

.content > .div > h3 {
  letter-spacing: 0.02em;
}


a {
  color: #3366BB;
}

.entry-title {
  font-weight: bold;
  font-size: 0.9em;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  padding: 0px;
  margin: 0px;
}

.entry-date {
  font-weight: bold;
  font-size: 0.8em;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  color: #777;
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
}

.entry-col-2 {
  padding-left: 10px;
  height: 64px;
  vertical-align: text-top;
}

.entry-item > a {
  text-decoration: none;
}

.entry-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.entry-item {
  margin-top: 10px;
  height: 62px;
}

.entry-icon {
  width: 100px;
  height: 62px;
  background-image: none;
  background-size: 100px 62px;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: 0s ease; 
}

.entry-icon:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 1s ease; 
}

code {
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: normal;
  font-family: 'Courier New', monospace;
  background-color: #e7e7e7;
  border-radius: 3px;
  padding: 3px;
  text-indent: none;
  color: #333;
}

b {
  font-weight: bold;
}

pre {
  padding: 5px;
  background: #e7e7e7;
  font-weight: bold;
  font-size: 0.8em;
  overflow: auto;
  text-indent: none;
}

pre code {
  background: #e7e7e7;
  padding:0px;
  font-size: 1.0em;
  color: #333;
  line-height: 1.5em;
}

figcaption {
  font-size: x-small;
  color: #aaa;
  letter-spacing: 0.03em;
}

.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #aaa;
}

.copy:after {
  content: "\00A9";
}
