hr {
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  margin: 1em 0;
  padding: 0;
}

#header {
  width: calc(90vw / 2 + 500px / 2);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#content {
  width: calc(90vw / 2 + 500px / 2);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  font-family: 'Georgia', serif;
}

#content p {
  font-family: 'Georgia', serif;
  color: #222;
  line-height: 1.9em;
  text-indent: 2em;
  letter-spacing: 0.015em;
}

#content li p {
  line-height: 1.8em;
  letter-spacing: 0.02em;
  text-indent: 0em;
}

ol > li::marker {
  font-weight: bold;
}

ul > li::marker {
  font-weight: bold;
}

li {
  margin-top: 1.0em;
  letter-spacing: 0.02em;
}

li:last-child {
  margin-bottom: 1.0em;
}

h1, h2, h3, h4, h5 {
  color: #222;
}

#content h1 {
 font-family: 'Helvetica', sans-serif;
 font-size: 1.7em;
 letter-spacing: -0.02em;
 font-weight: 900;

}

#content h2, h3, h4, h5 {
 font-family: 'Helvetica', sans-serif;
}

#content h2 {
  margin-top: 60px;
}

#content h3 {
  letter-spacing: 0.02em;
}

a {
  color: #3366BB;
}

a #title {
  font-weight: bold;
  font-size: 0.9em;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  padding-left: 10px;
}

code {
  font-size: 0.75em;
  font-weight: normal;
  font-family: 'Courier New', monospace;
  background-color: #e7e7e7;
  border-radius: 3px;
  padding: 3px;
  text-indent: none;
}

pre {
  padding: 5px;
  background: #e7e7e7;
  font-weight: bold;
  font-size: 0.8em;
  overflow: auto;
  text-indent: none;
}

pre code {
  background: #e7e7e7;
  padding:0px;
}

figcaption {
  font-size: x-small;
  color: #aaa;
  letter-spacing: 0.03em;
}

.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #aaa;
    letter-spacing: 0.03em;
    font-family: 'Helvetica', sans-serif;
}

.copy:after {
  content: "\00A9";
}
